In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings

warnings.filterwarnings('ignore')

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'batang'

In [5]:
data = pd.read_csv('따릉이데이터(반납량추가)/강남구 데이터.csv')

In [6]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)
data['이용량'] = data['반납량'] - data['대여량']
data.drop(['대여량','반납량'], axis=1, inplace=True)
data

,년,월,일,시,요일,휴일,기온,습도,강수량,풍속,미세먼지,초미세먼지,오존,확진자수,대여소번호,이용량
0,2018,1,1,2,0,1,-1.0,35,0.0,1.1,2,2,1,0,2340,0
1,2018,1,1,9,0,1,-2.0,58,0.0,0.2,2,2,1,0,2315,0
2,2018,1,1,9,0,1,-2.0,58,0.0,0.2,2,2,1,0,2355,0
3,2018,1,1,11,0,1,1.1,30,0.0,1.1,2,2,1,0,2372,1
4,2018,1,1,11,0,1,1.1,30,0.0,1.1,2,2,1,0,2337,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654065,2021,6,30,22,2,0,24.9,77,0.0,1.0,2,2,1,194,2335,0
654066,2021,6,30,22,2,0,24.9,77,0.0,1.0,2,2,1,194,2408,4
654067,2021,6,30,22,2,0,24.9,77,0.0,1.0,2,2,1,194,2419,0
654068,2021,6,30,22,2,0,24.9,77,0.0,1.0,2,2,1,194,2389,1
654069,2021,6,30,22,2,0,24.9,77,0.0,1.0,2,2,1,194,2333,1

In [10]:
dayofweek = ["요일_"+str(i) for i in range(7)]
features = ['월','일','시','휴일','기온','강수량','습도','풍속','미세먼지','초미세먼지','오존','확진자수'] + dayofweek
features

['월',
 '일',
 '시',
 '휴일',
 '기온',
 '강수량',
 '습도',
 '풍속',
 '미세먼지',
 '초미세먼지',
 '오존',
 '확진자수',
 '요일_0',
 '요일_1',
 '요일_2',
 '요일_3',
 '요일_4',
 '요일_5',
 '요일_6']

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn import linear_model as lm
import xgboost as xgb
from scipy.stats import uniform, randint
from sklearn.model_selection import TimeSeriesSplit

n = 3
cols = ['월','일','시','휴일','기온','강수량','습도','풍속','미세먼지','초미세먼지','오존','확진자수', '요일']
#results = {}
total = data['대여소번호'].nunique()

for idx, (name, _data) in enumerate(data.groupby('대여소번호'), 1):
    print("[%d/%d] %s" %(idx, total, name), end=' ')
    
    try:
        _data = _data.groupby(cols)['이용량'].sum().reset_index()
        _data = _data.join(pd.get_dummies(_data['요일'], prefix="요일"))

        print(_data.shape)

        X_train, X_test, y_train, y_test = train_test_split(_data[features], _data['이용량'], test_size=0.2, random_state=150)        
        
        param_grid = {
            "learning_rate" : [0.025, 0.027, 0.029],
            "gamma": uniform(0.4, 0.8).rvs(n),
            "n_estimators": randint(50, 200).rvs(n), # default 100
        }
    
        grid = GridSearchCV(xgb.XGBRegressor(), cv=5, n_jobs=-1, param_grid=param_grid)
        grid = grid.fit(X_train, y_train)
        model = grid.best_estimator_
    
        print(" : complete.")
        model.save_model('강남구_{}.model'.format(name))
        
    except:
        continue

[1/118] 2301 (14400, 21)
 : complete.
[2/118] 2302 (13289, 21)
 : complete.
[3/118] 2303 (10197, 21)
 : complete.
[4/118] 2304 (1947, 21)
 : complete.
[5/118] 2305 (3503, 21)
 : complete.
[6/118] 2306 (11240, 21)
 : complete.
[7/118] 2307 (10254, 21)
 : complete.
[8/118] 2308 (8834, 21)
 : complete.
[9/118] 2309 (3487, 21)
 : complete.
[10/118] 2310 (6336, 21)
 : complete.
[11/118] 2311 (1883, 21)
 : complete.
[12/118] 2312 (4812, 21)
 : complete.
[13/118] 2313 (10367, 21)
 : complete.
[14/118] 2314 (7484, 21)
 : complete.
[15/118] 2315 (11147, 21)
 : complete.
[16/118] 2316 (10351, 21)
 : complete.
[17/118] 2317 (8192, 21)
 : complete.
[18/118] 2318 (6181, 21)
 : complete.
[19/118] 2319 (5889, 21)
 : complete.
[20/118] 2320 (8661, 21)
 : complete.
[21/118] 2321 (8515, 21)
 : complete.
[22/118] 2322 (8020, 21)
 : complete.
[23/118] 2323 (3473, 21)
 : complete.
[24/118] 2324 (10451, 21)
 : complete.
[25/118] 2325 (10660, 21)
 : complete.
[26/118] 2326 (3948, 21)
 : complete.
[27/118] 2327 (11437, 21)
 : complete.
[28/118] 2328 (5957, 21)
 : complete.
[29/118] 2329 (3707, 21)
 : complete.
[30/118] 2330 (6994, 21)
 : complete.
[31/118] 2331 (5991, 21)
 : complete.
[32/118] 2332 (11490, 21)
 : complete.
[33/118] 2333 (9102, 21)
 : complete.
[34/118] 2334 (2219, 21)
 : complete.
[35/118] 2335 (11011, 21)
 : complete.
[36/118] 2336 (3532, 21)
 : complete.
[37/118] 2337 (4664, 21)
 : complete.
[38/118] 2339 (4681, 21)
 : complete.
[39/118] 2340 (13464, 21)
 : complete.
[40/118] 2341 (3462, 21)
 : complete.
[41/118] 2342 (14095, 21)
 : complete.
[42/118] 2343 (1025, 21)
 : complete.
[43/118] 2344 (5162, 21)
 : complete.
[44/118] 2347 (2033, 21)
 : complete.
[45/118] 2348 (11034, 21)
 : complete.
[46/118] 2349 (5385, 21)
 : complete.
[47/118] 2350 (3299, 21)
 : complete.
[48/118] 2351 (1889, 21)
 : complete.
[49/118] 2352 (1681, 21)
 : complete.
[50/118] 2353 (6733, 21)
 : complete.
[51/118] 2354 (3027, 21)
 : complete.
[52/118] 2355 (12566, 21)
 : complete.
[53/118] 2356 (5546, 21)
 : complete.
[54/118] 2357 (3967, 21)
 : complete.
[55/118] 2358 (3451, 21)
 : complete.
[56/118] 2359 (6961, 21)
 : complete.
[57/118] 2360 (6828, 21)
 : complete.
[58/118] 2361 (8520, 21)
 : complete.
[59/118] 2362 (9364, 21)
 : complete.
[60/118] 2363 (3961, 21)
 : complete.
[61/118] 2364 (5607, 21)
 : complete.
[62/118] 2365 (9106, 21)
 : complete.
[63/118] 2368 (3118, 21)
 : complete.
[64/118] 2369 (9539, 21)
 : complete.
[65/118] 2370 (7382, 21)
 : complete.
[66/118] 2371 (2152, 21)
 : complete.
[67/118] 2372 (10700, 21)
 : complete.
[68/118] 2373 (9337, 21)
 : complete.
[69/118] 2375 (6564, 21)
 : complete.
[70/118] 2376 (1908, 21)
 : complete.
[71/118] 2377 (14084, 21)
 : complete.
[72/118] 2380 (5929, 21)
 : complete.
[73/118] 2381 (5349, 21)
 : complete.
[74/118] 2382 (3207, 21)
 : complete.
[75/118] 2383 (1493, 21)
 : complete.
[76/118] 2384 (12344, 21)
 : complete.
[77/118] 2385 (8092, 21)
 : complete.
[78/118] 2386 (1049, 21)
 : complete.
[79/118] 2387 (6991, 21)
 : complete.
[80/118] 2388 (2506, 21)
 : complete.
[81/118] 2389 (3562, 21)
 : complete.
[82/118] 2390 (1911, 21)
 : complete.
[83/118] 2391 (90, 21)
 : complete.
[84/118] 2392 (331, 21)
 : complete.
[85/118] 2393 (373, 21)
 : complete.
[86/118] 2394 (980, 21)
 : complete.
[87/118] 2395 (165, 21)
 : complete.
[88/118] 2396 (5597, 21)
 : complete.
[89/118] 2398 (3701, 21)
 : complete.
[90/118] 2401 (1783, 21)
 : complete.
[91/118] 2403 (741, 21)
 : complete.
[92/118] 2404 (6486, 21)
 : complete.
[93/118] 2405 (3579, 21)
 : complete.
[94/118] 2406 (2142, 21)
 : complete.
[95/118] 2407 (10482, 21)
 : complete.
[96/118] 2408 (4784, 21)
 : complete.
[97/118] 2409 (7434, 21)
 : complete.
[98/118] 2410 (5877, 21)
 : complete.
[99/118] 2411 (4697, 21)
 : complete.
[100/118] 2412 (9654, 21)
 : complete.
[101/118] 2413 (2749, 21)
 : complete.
[102/118] 2414 (3142, 21)
 : complete.
[103/118] 2415 (2475, 21)
 : complete.
[104/118] 2416 (874, 21)
 : complete.
[105/118] 2417 (698, 21)
 : complete.
[106/118] 2418 (2440, 21)
 : complete.
[107/118] 2419 (1652, 21)
 : complete.
[108/118] 2420 (2432, 21)
 : complete.
[109/118] 2421 (1755, 21)
 : complete.
[110/118] 2422 (1779, 21)
 : complete.
[111/118] 2423 (3175, 21)
 : complete.
[112/118] 2425 (395, 21)
 : complete.
[113/118] 2426 (1093, 21)
 : complete.
[114/118] 2427 (1093, 21)
 : complete.
[115/118] 2428 (916, 21)
 : complete.
[116/118] 2429 (3454, 21)
 : complete.
[117/118] 2430 (1813, 21)
 : complete.
[118/118] 2431 (3550, 21)
 : complete.